.user-container{
  margin-top: 30px;
  margin-left: 40px;
 
  text-align: center;
  display: flex;
  position: relative;
  gap: 20px;
  flex-wrap: wrap;
}
.people-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
}

.people-image img {
  /* max-height: 100%;
  max-width: 100%; */
  height: 90px;
  width: 90px;
  border-radius: 50%;
}
.user-card {
  width: calc(15% - 16px); /* 20% width for 5 cards in a row, considering margin */
  margin-bottom: 16px; /* Adjust the margin as needed */
  box-sizing: border-box;
}

  