<app-dashboard></app-dashboard>
<div class="btn-tweet">
    <button (click)="openDialog()">Compose New Tweet</button>
</div>
<div class="card">
    <mat-card *ngFor="let tweet of allTweets">
        <mat-card-header>
          <mat-card-title></mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <img [src]="tweet.userImage" alt="user-img" />
            {{tweet?.message}}   
        </mat-card-content>
        <mat-card-actions>
          <button *ngIf="!tweet?.isLiked" (click)="onLike(tweet.id,tweet.userId)" class="btn-like"><mat-icon>thumb_up</mat-icon></button>
          <button *ngIf="tweet?.isLiked" (click)="onDisLike(tweet.id,tweet.userId)" class="btn-dislike"><mat-icon>thumb_up</mat-icon></button>
          <button mat-raised-button color="primary" *ngIf="tweet?.userId == loggedInUser?.id" (click)="onEdit(tweet)">Edit</button>
          <button mat-raised-button color="warn" *ngIf="tweet?.userId == loggedInUser?.id" (click)="onDelete(tweet.id)">Delete</button>
        </mat-card-actions>
      </mat-card>
      
</div>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#5cff23" type="ball-clip-rotate-multiple">
  <p class="text">Loading...</p>
</ngx-spinner>

