
<nav>
    <ul>
        <li><a routerLink="/playground" routerLinkActive="active">Playground</a></li>
        <li><a routerLink="/followers" routerLinkActive="active">Followers({{followers}})</a></li>
        <li><a routerLink="/following" routerLinkActive="active">Following({{following}})</a></li>
        <li><a routerLink="/search" routerLinkActive="active">Search</a></li>
        <li><div class="btn-logOut">
            <button (click)="logOut()">LogOut</button>
        </div></li>
        <li><div *ngIf="loggedInUser?.email" class="userName">Hii {{loggedInUser?.email}}</div></li>
        
    </ul>
    
</nav>